/* Limpando o Navegador */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', 'Sans-Serif';
    color: white;
}

/* Inserindo o Gradiente */
body{
    background: rgb(32,30,67);
    background: linear-gradient(135deg, rgba(32,30,67,1) 0%, rgba(19,75,112,1) 100%);
    height: 100vh;
}

/* Menu de Navegação */

.img-logo-menu{
    max-width: 35px;
    max-height: 35px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    padding-right: 50px !important;
    padding-left: 50px !important;
    border-radius: 0px 0px 15px 15px;
}

.button-start{
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.button-start:hover{
    background-color: rgba(19,75,112,1);
    border: 1px solid rgba(245, 245, 245, 0.5);
    transition: .5s all ease;
}

/* Conteúdo Landing Page */

.content{
    display: flex;
    margin: 15px;
}

.celular{
    max-width: 1900px;
    max-height: 400px;
    margin: 100px 0px 0px 175px;
}

.text{
    text-align: justify;
    margin: auto 175px auto 0px;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Página de Login */

.login{
    background-color: rgba(245, 245, 245, 0.700);
    max-width: 550px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    padding: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 12px;
}

b{
    color: black;
}

.nameLogin{
    color: black;
    margin: 12px;
}

.textLogin{
    margin-top: 15px;
}


.imgLogoLogin{
    max-width: 100px;
    max-height: 100px;
    margin: 15px;
    display: block;
    position: absolute;
    top: 15%;
}

input{
    border: none;
    border-radius: 12px;
    padding: 12px;
    color: black;
    width: 350px;
}

label{
    color: black;
}

.submitLogin{
    padding: 5px 15px;
    background: rgb(32,30,67);
    background: linear-gradient(135deg, rgba(32,30,67,1) 0%, rgba(19,75,112,1) 100%);
    border: none;
    margin: 15px;
    margin-top: 20px;
    border-radius: 12px;
}

.submitLogin:hover{
    scale: 1.1;
    transition: .3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

form{
    margin: 15px;
}

.contentLogin{
    display: grid;    
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.senha{
    margin-top: 15px;
}

.fraseLogin{
    margin: 5px;
    color: black;
}

.cadastrese{
    color: rgb(32,30,67);
}

.cadastrese:hover{
    font-weight: 700;
    scale: 1.1;
    transition: .3s;
}